---
import { Picture } from 'astro:assets';
import Layout from '@/layouts/Layout.astro';
import heroBackground from '@/assets/images/home/hero-background.jpg';
import titleBackground from '@/assets/images/home/title-background.svg?raw';
import Button from '@/components/Button.astro';
import Carousel from '@/components/Carousel.astro';
import {
  faEnvelope,
  faNewspaper,
  faTicket,
} from '@fortawesome/free-solid-svg-icons';
import mbot from '@/assets/images/home/workshops/mbot.jpg';
import blender from '@/assets/images/home/workshops/blender.jpg';
import scratch from '@/assets/images/home/workshops/scratch.jpg';
import team from '@/assets/images/home/team.jpg';

import { useTranslations } from '@/i18n.ts';
import { getCollection, render } from 'astro:content';
import HomeSection from '@/components/HomeSection.astro';

const t = useTranslations(Astro.currentLocale);

const sections = Object.fromEntries(
  await Promise.all(
    (await getCollection('home'))
      .sort((a, b) => a.data.order - b.data.order)
      .map(async (section) => [
        section.id,
        {
          id: section.id,
          title: section.data.title,
          buttons: section.data.buttons,
          Content: (await render(section)).Content,
        },
      ]),
  ),
);
---

<Layout>
  <section class="hero relative">
    <Picture
      src={heroBackground}
      formats={['avif', 'webp']}
      alt="image"
      layout="constrained"
      priority={true}
      class="absolute top-0 left-0 h-full w-full object-cover"
    />
    <div
      class="flex flex-col items-center justify-end px-10 py-8 sm:flex-row sm:items-end sm:justify-between"
    >
      <div class="title">
        <Fragment set:html={titleBackground} />
        <h1>{t('title')}</h1>
        <span>{t('subtitle')}</span>
      </div>
      <div class="z-10 flex flex-col items-center gap-3 sm:items-end">
        <Button
          link="https://pretix.eu/dojosw"
          icon={faTicket}
          variant="brand-large"
        >
          {t('homepage.title.buy-ticket')}
        </Button>
        <Button link="https://pretix.eu/dojosw" className="text-lg">
          {t('homepage.title.donate')}
        </Button>
      </div>
    </div>
  </section>

  {
    [sections.workshops].map(({ id, title, buttons, Content }) => (
      <HomeSection id={id} title={title} colorScheme="dark">
        <Fragment slot="start">
          <Button
            link={buttons.ticket.url}
            icon={faTicket}
            variant="brand"
            stretch
          >
            {buttons.ticket.label}
          </Button>
          <div class="button-group">
            <Button link={buttons.more.url} className="flex-auto" stretch>
              {buttons.more.label}
            </Button>
            <Button link={buttons.all.url} className="flex-auto" stretch>
              {buttons.all.label}
            </Button>
          </div>
          <Content />
          <Button
            link={buttons.newsletter.url}
            icon={faNewspaper}
            variant="brand"
          >
            {buttons.newsletter.label}
          </Button>
        </Fragment>
        <Fragment slot="end">
          <div class="flex flex-col">
            <Picture
              src={mbot}
              formats={['avif', 'webp']}
              alt="image"
              layout="constrained"
              width={400}
              pictureAttributes={{ class: 'max-w-4/5' }}
            />
            <Picture
              src={blender}
              formats={['avif', 'webp']}
              alt="image"
              layout="constrained"
              width={400}
              pictureAttributes={{ class: '-mt-16 max-w-4/5 self-end' }}
            />
            <Picture
              src={scratch}
              formats={['avif', 'webp']}
              alt="image"
              layout="constrained"
              width={400}
              class="-mt-16"
              pictureAttributes={{ class: 'max-w-4/5 self-center' }}
            />
          </div>
        </Fragment>
      </HomeSection>
    ))
  }

  {
    [sections.mentoring].map(({ id, title, buttons, Content }) => (
      <HomeSection id={id} title={title} colorScheme="light">
        <Fragment slot="start">
          <Picture
            src={team}
            formats={['avif', 'webp']}
            alt="image"
            layout="constrained"
          />
        </Fragment>
        <Fragment slot="end">
          <div class="button-group">
            <Button
              link={buttons.contact.url}
              icon={faEnvelope}
              variant="brand"
            >
              {buttons.contact.label}
            </Button>
            <Button link={buttons.more.url}>{buttons.more.label}</Button>
          </div>
          <Content />
        </Fragment>
      </HomeSection>
    ))
  }

  {
    [sections.society].map(({ id, title, buttons, Content }) => (
      <HomeSection id={id} title={title} colorScheme="dark">
        <Fragment slot="start">
          <Content />
          <Button link={buttons.donate.url} variant="brand">
            {buttons.donate.label}
          </Button>
          <h3>Vereinsdokumente</h3>
          <div class="button-group">
            <Button link={buttons.constitution.url}>
              {buttons.constitution.label}
            </Button>
            <Button link={buttons.reports.url}>{buttons.reports.label}</Button>
          </div>
        </Fragment>
        <Fragment slot="end" />
      </HomeSection>
    ))
  }

  {
    [sections.collaborations].map(({ id, title, buttons, Content }) => (
      <HomeSection id={id} title={title} colorScheme="light">
        <Fragment slot="start">
          <Content />
        </Fragment>
        <Fragment slot="end">
          <Carousel images="assets/images/partners" speed={50} />
        </Fragment>
      </HomeSection>
    ))
  }
</Layout>

<style>
  @reference "@/styles/global";

  .hero > div {
    height: 80dvb;
  }

  .title {
    @apply text-dark relative my-12 sm:my-0;

    svg {
      @apply max-w-3xl scale-x-70 scale-y-150 sm:scale-x-100 sm:scale-y-100;
    }

    > :not(svg) {
      @apply absolute start-1/2 top-0 z-10 -translate-x-1/2 text-center sm:top-1/4 sm:whitespace-nowrap;
    }

    > span {
      @apply top-4/6 text-xl font-bold sm:top-3/5;
    }
  }

  section:not(:first-child) {
    img {
      @apply rounded-md shadow-2xl;
    }
  }
</style>
