---
import { Picture } from 'astro:assets';
import { icon } from '@fortawesome/fontawesome-svg-core';
import {
  faTicket,
  faLanguage,
  faBars,
} from '@fortawesome/free-solid-svg-icons';
import { useTranslations } from '@/i18n.ts';
import logo from '@/assets/images/logo.png';
import LanguageSelector from '@/components/LanguageSelector.astro';

const { t, translatePath } = useTranslations(Astro.currentLocale);

const menuItems = [
  { name: t('menu.items.workshops'), url: translatePath('/workshops') },
  { name: t('menu.items.mentoring'), url: translatePath('/mentoring') },
  { name: t('menu.items.society'), url: translatePath('/society') },
  {
    name: t('menu.items.collaborations'),
    url: translatePath('/collaborations'),
  },
];
---

<header class="text-dark bg-brand text-lg font-semibold">
  <div class="container mx-auto px-6">
    <div class="flex h-16 items-center justify-between">
      <a href={translatePath('/')} class="flex">
        <Picture
          src={logo}
          formats={['avif', 'webp']}
          alt="logo"
          layout="constrained"
          priority={true}
          width={100}
          class="h-16 w-auto"
        />
      </a>

      <nav class="relative hidden h-full items-center gap-8 px-4 md:flex">
        {menuItems.map((item) => <a href={item.url}>{item.name}</a>)}
        <a
          href="https://pretix.eu/dojosw"
          class="h-lh w-8"
          aria-label={t('common.buy-ticket-aria')}
        >
          <Fragment set:html={icon(faTicket).html} />
        </a>
        <label class="peer h-lh w-8 cursor-pointer">
          <Fragment set:html={icon(faLanguage).html} />
          <input type="checkbox" class="hidden" />
        </label>
        <div
          id="language-selector"
          class="absolute end-0 top-full z-10 hidden peer-has-checked:block"
        >
          <LanguageSelector />
        </div>
      </nav>

      <!-- Mobile Menu Button -->
      <button
        id="mobile-menu-toggle"
        class="plain md:hidden"
        aria-label={t('common.toggle-mobile-menu')}
      >
        <Fragment set:html={icon(faBars).html} />
      </button>
    </div>

    <!-- Mobile Menu -->
    <div id="mobile-menu" class="flex flex-col py-4" hidden>
      {
        menuItems.map((item) => (
          <a class="py-2" href={item.url}>
            {item.name}
          </a>
        ))
      }
      <div>
        <a
          href="https://pretix.eu/dojosw"
          class="block h-8 w-8 py-2"
          aria-label={t('common.buy-ticket-aria')}
        >
          <Fragment set:html={icon(faTicket).html} />
        </a>
      </div>
    </div>
  </div>
</header>

<script>
  document.addEventListener('DOMContentLoaded', () => {
    const menuButton = document.querySelector('#mobile-menu-toggle');
    const menu = document.querySelector('#mobile-menu') as HTMLElement;
    if (!menuButton || !menu) return;

    menuButton.addEventListener('click', () => (menu.hidden = !menu.hidden));
  });
</script>
