---
import config from "@/config/config.json";
import { plainify } from "@/lib/utils/textConverter";
import Header from "@/layouts/partials/Header.astro";
import Footer from "@/layouts/partials/Footer.astro";

interface Props {
  title?: string;
  meta_title?: string;
  description?: string;
  image?: string;
}

const { title, meta_title, description, image } = Astro.props;
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>
      {plainify(meta_title ? meta_title : title ? title : config.site.title)}
    </title>
    <meta
      name="description"
      content={plainify(
        description ? description : config.metadata.meta_description,
      )}
    />
    <link rel="icon" href={config.site.favicon} />
    <meta name="author" content={config.metadata.meta_author} />

    <!-- og-title -->
    <meta
      property="og:title"
      content={plainify(
        meta_title ? meta_title : title ? title : config.site.title,
      )}
    />

    <!-- og-description -->
    <meta
      property="og:description"
      content={plainify(
        description ? description : config.metadata.meta_description,
      )}
    />
    <meta property="og:type" content="website" />
    <meta
      property="og:url"
      content={`${config.site.base_url}/${Astro.url.pathname.replace("/", "")}`}
    />

    <!-- twitter-title -->
    <meta
      name="twitter:title"
      content={plainify(
        meta_title ? meta_title : title ? title : config.site.title,
      )}
    />

    <!-- twitter-description -->
    <meta
      name="twitter:description"
      content={plainify(
        description ? description : config.metadata.meta_description,
      )}
    />

    <!-- og-image -->
    <meta
      property="og:image"
      content={`${config.site.base_url}${
        image ? image : config.metadata.meta_image
      }`}
    />

    <!-- twitter-image -->
    <meta
      name="twitter:image"
      content={`${config.site.base_url}${
        image ? image : config.metadata.meta_image
      }`}
    />
    <meta name="twitter:card" content="summary_large_image" />

    <!-- Theme initialization script -->
    <script is:inline>
      // Check for saved theme preference or use system preference
      const theme =
        localStorage.getItem("theme") ||
        (window.matchMedia("(prefers-color-scheme: dark)").matches
          ? "dark"
          : "light");

      // Apply the theme
      document.documentElement.classList.toggle("dark", theme === "dark");
    </script>
  </head>
  <body>
    <Header />
    <main id="main-content">
      <slot />
    </main>
    <Footer />
  </body>
</html>
